.add-task-button {
    border: 0;
    margin-top: 150px;
    margin-right: 8%;
    margin-bottom: 20px;
    background: #11999e;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    align-self: flex-end;

    &--dark {
        background-color: #343944;
        color: #16c6cc;
        // text-shadow: 0 0 4px #2de2e8;

        &:hover {
            filter: drop-shadow(0 0 14px #2de2e8);

        }
    }
}