.add-task-button {
    border: 0;
    margin-bottom: 20px;
    background: #11999e;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    align-self: flex-end;
}