header {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    min-width: 25%;
    justify-content: space-between;
    align-items: center;

    i {
        font-size: 26px;
        color: #a9a9a9;
        background-color: #fff;
        padding: 12px;
        border-radius: 40px;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.034);

        &:hover {
            color: #11999e;
            cursor: pointer;
        }
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 40px;
        cursor: pointer;
    }

    span {
        color: #a9a9a9;
    }

    p {
        font-weight: 700;
        color: #515151;

    }

}

.header--dark {

    i {
        color: #16c6cc;
        background-color: #343944;

        &:hover {
            color: #16c6cc;
            cursor: pointer;
            filter: drop-shadow(0 0 8px #2de2e8);
        }
    }

    img {
        filter: grayscale(1);

        &:hover {

            cursor: pointer;
            filter: drop-shadow(0 0 8px #2de2e8);

        }
    }

    p,
    span {
        color: #fff;
    }

}